# Ignorar carpetas de compilación
bin/
obj/

# Ignorar archivos de salida
*.exe
*.dll
*.pdb

# Ignorar archivos de configuración del entorno de desarrollo
*.user
*.suo

# Ignorar archivos de configuración de Visual Studio Code
.vscode/
